* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 0 100px 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Roboto, Arial, sans-serif;
  background-color: rgb(250, 250, 250);
}
header {
  z-index: 10;
  display: flex;
  /* grid-template-columns: max-content; */
  margin: 0;
  padding: 0;
  background-color: rgb(248, 248, 248);
  color: black;
  width: 100vw;
  height: 64px;
}
nav {
  z-index: 100;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.97);
  width: 100vw;
  height: 64px;
}
.nav_containts {
  margin: 14px 0 0 0;
  display: inline-flex;
  width: 100vw;
}
#nav_sadfjh {
  margin: 0px 0 0 15px;
  padding: 5px 0 0 0;
  display: grid;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 40px;
  height: 40px;
  overflow: hidden;
  justify-content: center;
}
.nav_sgdf {
  margin: 0px 0 0 23px;
  padding: 5px 0 0 0;
  display: grid;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 40px;
  height: 40px;
  overflow: hidden;
  justify-content: center;
}
.nav_nsadg0524 {
  background-color: transparent;
  cursor: pointer;
  background-color: white;
  border: none;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
}
.menu_dsfgj {
  background-color: white;
  color: black;
}
.material-icons {
  font-size: 20px;
  cursor: pointer;
  width: 30px;
}
#menu_dsfgj {
  width: 33px;
  height: 28px;
  background-color: white;
  border: none;
  cursor: pointer;
}
.nav_imageyoutube {
  box-sizing: border-box;
}
.youtube_sadgjh215244 {
  cursor: pointer;
  padding: 0;
  margin: -9px 0 0 0;
  width: 130px;
  position: relative;
}
.srach_asdfgjh {
  box-sizing: border-box;
}

#sdfajkgb_gfh0274 {
  background-color: white;
  width: 550px;
  height: 33px;
  padding: 0 0 0 12px;
  margin: 0 0 0 100px;
  border: 1px solid gray;
  box-shadow: inset 1px 0px 1px 0px #c1bcbc;
}
#search_sadfkjgsad {
  border: 1px solid gray;
  /* box-shadow: inset 1px 0px 1px 0px #c1bcbc; */
  cursor: pointer;
  max-height: 33px;
  border: 0.5px solid black;
  /* transform: translate(0px, 5px); */
  /* margin: 0 0 0 -4px; */
  position: relative;
  background-color: rgb(248, 248, 248);
  /* border: none; */
  width: 58px;
  height: 33px;
  /* cursor: pointer; */
}
.microphone_05454 {
  margin: 5px 0 0 0;
}
.singin_0475 {
  margin: 0 0 0 30px;
}
#singin_05475 {
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  font-weight: 600;
  display: grid;
  justify-content: center;
  padding: 5px 2px 0 0;
  position: relative;
  display: inline-flex;
  background-color: white;
  color: rgb(72, 30, 223);
  border: 2px solid rgb(72, 30, 223);
  width: 110px;
  height: 37px;
  float: right;
  /* font-size: 15px; */
}

.singin_sahjasdf {
  color: rgb(72, 30, 223);
  padding: 4px 0 0 0;
}

#person_pin_asgdkj {
  color: rgb(72, 30, 223);
}
#microphone_05245 {
  background-color: transparent;
  margin: 0 0 0 12px;
}
#apps_025454 {
  background-color: transparent;
  margin: 0 0 0 69px;
}
#more_05245 {
  background-color: transparent;
  margin: 0 0 0 30px;
}

.left_asdgjsajdguys {
  display: inline-flex;
  position: relative;
}
.gfghasd_asdsad {
  z-index: 10;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin: 100px 0 0 0;
  display: grid;
  background-color: white;
  color: black;
  width: 70px;
  padding: 0;
  margin: 0;
  height: 850px;
  position: fixed;
  row-gap: 0;
}
.left_fixede_div_0524535 {
  text-align: center;
  align-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: transparent;
  height: 350px;
  row-gap: 0;
  /* grid-gap : 0px; */
}
.leftfx_home {
  display: block;
  padding: 0px 0 0 0;
  /* border: 2px solid black; */
  align-content: center;
  row-gap: 0;
  /* grid-gap : 0px; */
  background-color: white;
  width: 70px;
  height: 68px;
  align-self: center;
  cursor: pointer;
}
.leftfx_home:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.leftfxhome {
  cursor: pointer;
  /* background-color: red; */
  width: 70px;
  height: 68px;
  background-color: transparent;
  color: rgb(124, 124, 124);
  border: none;
  
}
.labeldfhag_djgksaf {
  text-transform: capitalize;
  cursor: pointer;
  font-size: 9px;
  color: #686666;
}
#fdjh_sadggh5{
  color: red;
}
#history_sadhj{
  color: red;
}
.right_fgjksdf {
  z-index: 3;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  margin: 0 0 0 70px;
}
.dsafh_fdgusfd {
  width: 1193px;
  overflow-x: hidden;
}
.header_02145 {
  overflow: hidden;
  width: 3000px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  height: 50px;
  background-color: rgb(255, 255, 255);
}
.buttons_156asdf {
  
  margin: 10px 0;
  height: 35px;
  display: inline-flex;
}
.butts_0551237 {
  background-color: rgba(255, 255, 255, 0);
}
.ytbsdau_dguhds {
  cursor: pointer;
  padding: 2px 9px;
  background-color: rgb(241, 241, 241);
  border: 1px solid #d0d0d0;

  border-radius: 11px;
  margin: 0 6px;
  width: auto;
  flex-wrap: nowrap;
  height: 25px;
}
.ytbsdau_dguhds:hover {
  background-color: rgb(228, 228, 228);
}
.colse_02545565adsghj {
  padding: 5px;
  width: 1193px;
  position: absolute;
  display: block;
  float: right;
}
#colose_hbasdhwer {
  z-index: 12;
  display: block;
  position: relative;
  float: right;
  background-color: rgba(255, 255, 255, 0.158);
  border: none;
}
.imgahasdgk_ujsd {
  height: 280px;
  position: relative;
  display: inline-flex;
}
.dfh_dfgjsad {
  position: absolute;
  width: 1193px;
  margin: 0 0 12px 0;
}
.jdfj_dfjksdky0125 {
  padding: 0 0 0 12px;
  position: absolute;
  display: block;
  transform: translate(12px, 12px);
}
.kjdfhj_dfghjfas {
  margin: 30px 0 0 0;
  width: 300px;
}
.asdjfh_kmgshd32 {
  letter-spacing: 0.86px;
  margin: 12px 0;
  font-size: 20px;
  width: 400px;
  font-weight: 450;
  line-height: 26px;
}
.get_dfsh0465 {
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  font-weight: 600;
  display: grid;
  justify-content: center;
  padding: 9px 2px 0 0;
  position: relative;
  display: inline-flex;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  width: 110px;
  height: 37px;
  margin: 12px 0 0 0;
  /* float: right; */
}

/*
.conrtiuasfh_0254556{
  background-color: yellow;
  width: 273px;
  height: 247px;
}
*/
.conrtiuasfh_0254556 {
  margin: 50px 0 0 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 12px;
}
.sdfjh_dsfgsa {
  margin: 0 0 200px 0;
  justify-content: center;
  background-color: transparent;
  width: 1193px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 25px;
  row-gap: 30px;
}
.vidi_safuhj {
  position: absolute;
  width: 254px;
  height: 104px;
  background: rgba(3, 255, 129, 0);
}
.vidi_safuhj2 {
  z-index: 5;
  margin: 138px 0 0 0;
  position: absolute;
  width: 253px;
  height: 115px;
  background: rgba(49, 3, 255, 0);
}
.vidios_sfdghj {
  background-color: rgba(129, 243, 101, 0);
  height: 254px;
  cursor: pointer;
  overflow-x: hidden;
  /* background-color: transparent; */
  width: 253px;
}
.poster_sdfghjas {
  align-items: center;
  overflow: hidden;
  max-height: 153px;
  width: 253px;
}
.poseter_dsgsa {
  width: 253px;
}
.vididtitle_dsgjhgsad {
  display: inline-flex;
}
.sadfu_asghsadf {
  z-index: 50;
  padding: 11px 0 0 0;
  width: 45px;
}
.sadfj_sadugk {
  z-index: 50;
  border-radius: 36px;
  width: 35px;
  height: 35px;
}
.btn_sdfgkjs {
  width: 203px;
  background-color: transparent;
  position: absolute;
}
.asdfh_rgrhsdb {
  z-index: 50;
  display: none;
  background-color: rgb(250, 250, 250);
  border: none;
  position: relative;
  float: right;
  /* margin: 12px 0 0 0px; */
  /* border: 1px solid red; */
  border-radius: 30px;
  /* border: none; */
  width: 30px;
  height: 30px;
}
/*
.asdfh_rgrhsdb:hover .sadfhjjhrt_ertkj{
  visibility: visible;
}
*/
#jkdfg_asdg {
  
  font-size: 18px;
  color: rgb(99, 99, 99);
}
.vidios_sfdghj:hover .asdfh_rgrhsdb {
  display: block;
}

.vidido_tioem_afsjh {
  display: grid;
  margin: 12px 0 0 0;
  /* border: 2px solid red; */
  background-color: transparent;
  width: 170px;
}
.pareadfg_dfsgjgsad {
  display: block;
  position: relative;
}
.sadjh_02546sdafhg {
  display: inline-block;
  position: relative;
  height: 33px;
  overflow-y: hidden;
}
.vidio_tielesag_dfsghn {
  display: inline-block;
  position: relative;
  height: auto;
  overflow-y: hidden;
}
.description_vidio_sfgjksd {
  position: relative;
  display: inline-block;
  margin: 5px 0 0 0;
  color: gray;
  height: 18px;
  overflow-y: hidden;
  font-size: 12px;
}
#sadfhj_sagVe {
  font-size: 12px;
  color: gray;
}
.sguj_sdfugjertui {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  margin: -8px 0 0 0;
  padding: 0;
}
._sadgksd {
  font-size: 11px;
  color: gray;
}
.sadf_jhs {
  font-size: 11px;
  color: gray;
}
.sadfhjjhrt_ertkj {
  /* visibility: hidden; */
  display: none;
  margin: 39px 0 0px -63px;
  background-color: white;
  width: 250px;
  padding: 12px 0;
  /* width: 250px; */
  z-index: 10;
  position: absolute;
  /* display: grid; */
}
.que_dtjjkag_0254 {
  line-height: 1.6;
  display: grid;
  /* width: 150px; */
  /* display: grid; */
  /* grid-template-columns: auto auto; */
}

.dsfag_sdfg {
  height: 30px;
  align-self: center;
  padding: 0 10px;
  /* width: 150px; */
  display: inline-flex;
}
.dsfag_sdfg:hover {
  background-color: rgb(238, 236, 236);
}
#asdfjh_dfgwereas {
  font-size: 20px;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  color: grey;
}

.contian_saduhjk {
  padding: 3px 0 0 0;
  font-size: 13px;
  color: rgb(0, 0, 0);
  margin: 0px 0 0 10px;
}
.icn_sdgh {
  margin: 4px 0 0 0;
}
.hr_sahjsdfjk {
  border: 1px solid #e3e3e3;
  color: transparent;
  margin: 10px 0;
}
.video_sadkjlsadfjg {
  width: 253px;
}
.leftsideslide_asdfka{
  display: none;
  /* position: fixed; */
  width: 100vw;
  /* background-color: rgba(165, 42, 42, 0.192); */
  top: 0px;
  /* display: inline-flex; */
  position: absolute;
  z-index: 5000;
}
.asdfh0354sdf{
  position: fixed;
  /* transform: translate(281px , 0px); */
  top: 0px;
  left: 0px;
  /* position: absolute; */
  
  z-index: 500;
  /* position: absolute; */
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.336);
  /* background: linear-gradient(7deg , rgba(255, 0, 0, 0.295) , rgba(255, 255, 0, 0.267)); */
}
.leftsideal_box{
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  height: 900px;
  color: rgb(85, 85, 85);
  padding: 0 12px 0 0;
  z-index: 6000;
  width: 280px;
  background-color: white;
  display: block;
}

#menu_dsfgjsdfuy{
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 19px 0 0 19px;
  display: inline-flex;
}
.dfsgsd063456_leftkjsdaf{
  border: 0.5px solid rgb(227, 227, 227);
  margin: 12px 0;
  background-color: yellow;
  /* color:rgb(247, 247, 247); */
}
.lef_sdfg05456{
  display: block;
}
.sdfkj05424{
  cursor: pointer;
  background-color: white;
  border: none;
  align-items: center;
  /* padding: 12px; */
  height: 40px ;
  width: 265px;
  display: inline-flex;
  /* background: linen; */
  
}
.sdfkj05424:hover{
  background-color: #e1e1e1;
}
#sadfj_sdfij024{
  margin: 0 0 0 30px;
}
.sadfkjl0246546{
  text-transform: capitalize;
  margin: 0 0 0 30px;
  font-size: 16px;
}
.sdafh_sadfhj06545{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 0 20px;
}
.afsduytafcvjh_036456231{
  line-height: 1.4;
  text-transform: capitalize;
  /* background-color: red; */
  margin: 0 0 0 30px ;
}
.sdh_0254356532235{
  margin: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #686666;
  display: inline-flex;

}
.sdh_0254356532235:hover{
  text-decoration: underline;
}

/* mic div open */

.mic_asdf0254sadfh {
  width: 100vw;
  height: 100vh;
  /* display: block; */
  position: absolute;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.575);
}
.jksdf_kdsfg0524dfgjh {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* display: grid; */
  justify-content: center;
  /* display: grid; */
  /* justify-content: center; */
  /* width: 600px; */
  background-color: rgba(255, 255, 255, 0);
}
.sear_jkfg2145sadf {
  position: relative;
  z-index: 950;

  height: 300px;
  width: 600px;
  background-color: white;
  display: grid;
  justify-content: center;
}
.micsejsadf0254 {
  height: 200px;
  width: 500px;
  display: inline-flex;
}
.sadfjh024sdf {
  height: 230px;
  padding: 30px;
  text-align: left;
  width: 600px;
}
.sadfh_khsdf045sdf {
  margin: 0 0 30px 0;
  display: grid;
  justify-content: center;
}
#sdf25asdfjclos {
  margin: 0 0 0 0;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}
#microbtn {
  color: white;
  border-radius: 45px;
  border: none;
  width: 45px;
  height: 45px;
  background-color: red;
  display: block;
  float: right;
}

/* mic div close */

/* appdivopen */
.opnappdiv_jksfd24sdfkj{
  display: none;
  padding: 5px 0;
  /* display: block; */
  width: 180px;
  background-color: white;
  /* display: grid; */
  position: absolute;
  transform: translate(849px , 40px);
}

.kjsdf0245sdfj_n254sdfjn{
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  /* background-color: green; */
  height: 30px;
  width: 180px;
  background-color: transparent;
  border: none;
  display: grid;
  cursor: pointer;
  grid-template-columns: auto auto;

}
.kjsdf0245sdfj_n254sdfjn:hover{
  background-color: whitesmoke;
}
.asdfkj_jsdf045sdf024{
  width: 180px;
}
.dsfjkl_jhdf024sdf{
  width: 45px;
}
.sdfjh_jsdf045023432{
  text-decoration: none;
  color: black;
}

/* appdivclose */
.sdfj0354_sdaf0 {
  margin: 0 0 25px 0;
}